*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility calsses */
.bg-black{
  background: #000000;
}

.bg-opac{
  background: rgba(0, 0 , 0, 0);
}

.bg-olive{
  background: #000000ea;
}

.bg-caramel{
  background: #A87420;
}

.font-display{
  font-family: 'Playfair Display', serif;
}

.font-lora{
  font-family: 'Lora', serif;
}

.clr{
  clear: both;
}

/* Navigation bar */
.navbar-logo {
  width: 150px;
  height: 100px;
}

/* Section: Header */
#home-section{
  background: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

#home-section .dark-overlay{
  background: linear-gradient(rgba(0, 0 , 0, 0.76), rgba(0, 0, 0, 0.45));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-inner{
  max-width: 99%;
  margin: auto;
}

.font-size{
  font-size: 35px;
}

.font-size-1{
  font-size: 22px;
}

